<div class="row">
  <div class="col-md-7">
    <h3>GET IMPORTANT NEWS & UPDATES</h3>
    <p>Sign up for email and text updates to get deadline reminders and other important information.</p>
    <form class="" action="index.html" method="post">
      <input #newEmail>
      <button (click)="submitForm(newEmail.value); newTitle.value='';">SIGN UP</button>
    </form>
  </div>
  <div class="col-md-5">
    <h3><a href="#">HEALTHCARE.GOV BLOG</a></h3>
    <ul id="blog-news">
      <li></li>
    </ul>
    <button type="submit" class="news-bar-btn">SEE MORE</button>
  </div>
</div>
