.row {
  color: #FFF;
  font-family: "Open Sans",sans-serif;
  background-color: #0d76ad;
}

.subscribe-btn {
  color: #FFF;
  background-color: #063346;
  border: none;
}

.col-md-5 {
  background-color: #04689b;
}

a {
  color: #FFF;
}

#blog-news li{
  list-style-type: none;
}
