<div class="actionbar">
  <div class="row">
    <div class="col-md-3">
      <p>FND LOCAL HELP</p>
      <button class="actionbar-btn">SEARCH NOW</button>
    </div>
    <div class="col-md-3">
      <p>GET CONNECTED</p>
      <button class="actionbar-btn">HELP FROM AGENT/BROKER</button>
    </div>
    <div class="col-md-3">
      <p>1095 & TAX INFO</p>
      <button class="actionbar-btn">SEE NOW</button>
    </div>
    <div class="col-md-3">
      <p>INCOME/LIFE CHANGE?</p>
      <button class="actionbar-btn">SEE HOW TO REPORT</button>
    </div>
  </div>
</div>
