.header-link {
    background: #eee;
    display: block;
    color: #0e70b4;
    font-size: 12px;
    font-weight: 700;
    padding: 0 6px;
    text-transform: uppercase;
    width: 106px;
    margin-top: 0 !important;
    text-align: center;
    line-height: 24px;
}

.header-link a:hover {
  color: #eee;
  background: #0e70b4;
}
