.row {
  margin-top: 15px;
}

img {
  height: 50%;
}

.header-link {
    display: block;
    color: #0e70b4;
    font-size: 14px;
    font-weight: 700;
    padding: 0 6px;
    width: 106px;
    margin-top: 0 !important;
    text-align: center;
    line-height: 24px;
}

.login {
  font-size: 16px;
}

.login:hover {
  background: #eee;
}

.lang-es {
  background: #eee;
}

.lang-es:hover {
  color: #eee;
  background-color: #0e70b4;
}
