.nav-bar-bg {
  background: #046791;
  height: 65px;
  font-family: sans-serif;
  border-bottom: 4px solid #035c82;
}

.nav-btns {
  margin-left: 5%;
  width: 90%;
}

.nav-btns li {
  list-style: none;
  display: inline-block;
}

a {
  color: #eee;
  font-size: 18px;
  padding: 7px 17px 7px 17px;
  margin: 8px;
}

a:focus {
  background: #063346;
}

a:hover {
  color: #063346;
  background: #eee;
}

input {
  padding: 5px;
  margin-left: 170px;
}

button {
  color: #eee;
  background: #063346;
  border: none;
  padding: 8px 20px 8px 20px;
}
